@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

$font-size-heading1: 88px;
$line-height-heading1: 88px;
$font-size-heading2: 40px;
$line-height-heading2: 48px;
$font-size-body1: 20px;
$line-height-body1: 34px;
$font-size-body2: 16px;
$line-height-body2: 26px;

$ff: 'IBM Plex Sans', sans-serif;