@import './typography';
@import './colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding: 2rem 0;
    min-height: 100vh;
    background: $violet;
}
section {
    padding: 2rem;
}
.section-header {
    background: url('../images/bg-mobile.svg') $violet;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -2rem;
    padding-bottom: 0;
    .logo {
        width: 150px;
        display: block;
        object-fit: contain;
        margin-bottom: 3rem;
    }
    .hero-img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 5rem;
    }
}

.section-content {
    text-align: center;
    color: white;
    padding-top: 0;
    h1 {
        font-family: $font-poppins;
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
    p {
        font-family: $font-poppins;
        font-size: 1.1rem;
        color: darken(white, 10);
        line-height: 1.7rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }
    .btn {
        display: block;
        text-decoration: none;
        color: $violet;
        background: white;
        max-width: 18rem;
        border-radius: 2rem;
        padding: .75rem 1.25rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        font-family: $font-poppins;
        box-shadow: 4px 7px 10px rgba(0,0,0,0.1), -4px 7px 10px rgba(0,0,0,0.1);
        transition: 0.3s all ease;

        &:hover {
            color: white;
            background: $soft-magenta;
        }
    }
}

.footer {
    padding: 1rem;
    display: grid;
    place-content: center;
}

.social-icons {
    margin-bottom: 1rem;
    .social-icon {
        color: white;
        font-size: 1rem;
        border: 1px solid white;
        border-radius: 50%;
        padding: .8rem;
        cursor: pointer;
        transition: 0.3s all ease;
        margin-right: 1rem;
        &:hover {
            color: $soft-magenta;
            border-color: $soft-magenta;
        }
    }
}

@media screen and (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 0.1fr;
        grid-template-areas: "header content"
                             "header footer";
        background: url('../images/bg-desktop.svg') $violet no-repeat;
        background-size: cover;
        padding-bottom: 0;
    }
    .section-header {
        grid-area: header;
        background: none;
        .hero-img {
            max-width: 900px;
            margin: 0 auto;
            display: block;
            margin-bottom: 0;
        }
    }
    .section-content {
        grid-area: content;
        display: grid;
        align-content: center;
        text-align: left;
        padding-left: 0;
        padding-bottom: 10rem;
        h1 {
            font-size: 2.2rem;
            max-width: 26rem;
        }
        p {
            max-width: 26rem;
            font-size: .9rem;
            line-height: 1.3rem;
        }

        .btn {
            margin: 0;
            text-align: center;
        }
    }
    .footer {
        grid-area: footer;
        place-content: flex-end;
        padding: 2rem;
    }
}